<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <tab id="shippop" translate="label" sortOrder="9999">
            <label>SHIPPOP</label>
        </tab>
        <section id="shippop_configuration" translate="label" sortOrder="130" showInDefault="1" showInWebsite="1" showInStore="1">
            <class>separator-top</class>
            <label>Settings</label>
            <tab>shippop</tab>
            <resource>Shippop_Ecommerce::shippop_config</resource>
            <group id="auth" translate="label" type="text" sortOrder="10" showInDefault="1" showInWebsite="0" showInStore="0">
                <label>Configuration Menu</label>
                <comment>WebHooks URL : Base_URL/rest/V1/shippop-ecommerce/update-status</comment>
                <field id="is_thailand" translate="label" sortOrder="1" type="select" showInDefault="1" >
                    <label>Enable COD Functional</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
            </group>
        </section>
    </system>
</config>